[Desktop Entry]
Type=Application
Exec=/usr/bin/terminator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[pt_BR]=Terminator
Name=Terminator
Comment[pt_BR]=Terminator 
Comment=Terminator 
